<div class="hidden" id="mylightbox">
    <div class="bg-white mx-gutter transform transition-transform ease-in duration-500">
        <h1 class="text-filter font-bold my-3">Filtros</h1>
        <div class="m-auto divide-y w-full divide-gray-400">
            <div></div>
            <!-- Dividing line -->
            <div></div>
        </div>
        <div class="my-modalInside flex items-center justify-between">
            <label for="rubia">Rubia</label>
            <input type="checkbox" name="rubia" id="rubia" value=1 class="customCheckbox">
        </div>
        <div class="m-auto divide-y w-full divide-gray-400">
            <div></div>
            <!-- Dividing line -->
            <div></div>
        </div>
        <div class="my-modalInside flex items-center justify-between">
            <label for="morena">Morena</label>
            <input type="checkbox" name="morena" id="morena" value="2" class="customCheckbox">
        </div>
        <div class="m-auto divide-y w-full divide-gray-400">
            <div></div>
            <!-- Dividing line -->
            <div></div>
        </div>
        <div class="my-modalInside flex items-center justify-between">
            <label for="roja">Roja</label> <input type="checkbox" name="roja" id="roja" value="3" class="customCheckbox">
        </div>
        <div class="m-auto divide-y w-full divide-gray-400">
            <div></div>
            <!-- Dividing line -->
            <div></div>
        </div>
    </div>
    <div class="bg-primary-lightgray px-gutter grid grid-cols-2 gap-gutter mt-modalInside">
            <button class="uppercase my-3.5 bg-primary-white border border-primary-gray font-bold text-sizeLetter text-gray-500 py-cleanDistance px-cleanxDistance focus:outline-none focus:ring-2 focus:ring-primary-blue" id="btnClean">Limpiar</button>
            <button class="bg-primary-blue text-white flex justify-center items-center rounded my-3.5" type="submit" id="filtrarBtn">
                <p class="uppercase text-sizeLetter font-bold my-smallSpace">Filtrar</p>
                <svg class="w-filter h-filter fill-current text-white flex justify-center items-center ml-filter" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.10882 4.83059C4.93001 4.60261 4.9764 4.27779 5.21243 4.10508C5.30561 4.0369 5.41931 4 5.53621 4H19.4638C19.7599 4 20 4.23186 20 4.51787C20 4.63077 19.9618 4.74059 19.8912 4.83059L13.8405 12.5448V18.4821C13.8405 18.5843 13.8091 18.6843 13.7504 18.7693C13.5861 19.0073 13.2533 19.0716 13.0069 18.913L11.3983 17.8772C11.2492 17.7812 11.1596 17.6195 11.1596 17.4463V12.5448L5.10882 4.83059Z"/>
                </svg>
            </button>
    </div>

</div>
