<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beer Store</title>
</head>
<body class="bg-black">
    <div class="divImg m-8">
        <!-- img test -->
    </div>

    <div class="w-60 mx-8">
        <img src="img/cascade.png" alt="cascade">
    </div>
</body>
</html>
