<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beer Store</title>
</head>
<body>
    <!-- navbar -->
    <nav class="bg-gray-900 flex justify-between items-center">
        <div class="flex p-4 items-center">
            <img src="svg/menu.svg" alt="" class="filter invert h-6">
            <img src="svg/logo.svg" alt="" class="filter invert h-8 ml-3">
        </div>
        <div class="flex p-4 items-center">
            <img src="svg/search.svg" alt="" class="filter invert h-6 mr-2">
            <img src="svg/cart.svg" alt="" class="filter invert h-6">
        </div>
    </nav>
</body>
</html>
