@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* poppins-regular - latin */
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        src: local(''),
            url('./fonts/poppins-v15-latin-regular.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
    }
    /* poppins-600 - latin */
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        src: local(''),
            url('./fonts/poppins-v15-latin-600.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
    }
    /* poppins-700 - latin */
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        src: local(''),
            url('./fonts/poppins-v15-latin-700.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
    }
}

.featherlight .featherlight-content {
    @apply p-0 border-0 absolute -bottom-50 left-0 right-0;
}
